:root{
    --color-btn: #0161FF;
    --bgc-jumbotron: #B4D0E7;

}
header{
    padding: 0 15px;
    

}
header nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header nav > div{
    display: flex;
    gap:10px;
    align-items: center;
}
header nav > div ul{
    display: flex;
    gap: 10px;

}
header nav > div ul a {
    color: black;
}
.btn{
    padding:8px 15px;

}
.btn--blu{
    background-color: var(--color-btn);
    color: white;

}
.jumbotron{
    /* background-color: var(--bgc-jumbotron); */
    padding: 20px 0;
    background: linear-gradient(#b4d0e6 90%, #fff 10%)
    ;

}
.jumbotron h1{
    font-size: 3rem ;
    margin-bottom: 20px;
}
.container-80{
    max-width: 80%;
    margin: 0 auto;
}
.container-90{
    max-width: 90%;
    margin: 0 auto;
}
.jumbotron__info{
    display: flex;
    align-items: flex-start;  
}
.jumbotron__text{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;    
}
.jumbotron__text a{
     width: 80%;
}
.jumbotron__text i{
    font-size: 3rem;
}
.jumbotron__img{
    flex-basis: 60%;
    
}
.jumbotron__img img{
    with:100%;
    height:400px;
}

.row {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.row .col {
    width: 100%;
}

.card {
    border: 1px solid;
}

.card .top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid;
    padding: 16px;
}

.card .content {
    padding: 15px;
}

.card .content .inline {
    display: flex;
    align-items: center;
}

.card .content a {
    margin-bottom:16px;
    text-decoration: underline;
    color: #0161FF;
}
hr{
   margin-topx: 3px; 
   width: 40px;
   
}
.inline{
    margin-bottom: 20px ;
}

.card-full {
    margin-bottom: 40px;
}

.card-full .content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.card-full .content button{
    min-width: fit-content;
}

.row .col img {
    width: 500px;
}

.row .col  .cardOperation img {
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

.link {
    text-decoration: underline;
    color: blue;
    margin-bottom: 40px;
    display: block;
}

.footer {
    background-color: #0d0e12;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 24px;
}

.footer .col {
    margin: 0px 20px;
}

.footer .col h5{
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

.footer .col p {
    color: #fff;
    font-weight: 500;
}